
html {
    background-color:rgb(28, 32, 46);
    color: white;
    font-family:'Segoe UI';
    font-size: 14pt;
    margin: auto;
    max-width: 850px;
    min-width: 850px;
}
.container{
    margin: 30px;
}

.maintitle {
    font-weight: lighter;
    font-size: 60pt;
    line-height: 60pt;
    margin-top: -10px;
    margin-bottom: 60px;
}
.subtitle {
    font-weight: bold;
    font-size: 30pt;
}

.paragraph h1 {
    font-weight: bolder;
    font-size: 25pt;
}

.container h3 {
    font-weight: lighter;
    font-size: 35pt;
}

.container h4 {
    font-weight: bold;
    font-size: 30pt;
}
.paragraph p br {
    display: block; 
    content: "";
    margin-top: 10px; 
}
.paragraph {
    margin-bottom: 50px; 
}

.code {
    padding: 10px 20px;
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
.code br {
    display: block; 
    content: "";
    margin-top: 5px; 
}
.codein {
    padding: 2px 4px;
    background-color:dimgray;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    margin: 15px 0;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.tb1,
.tb1 td,
.tb1 th{
    border: 1px solid black;
}

.tb2,
.tb2 td,
.tb2 th{
    border: 1px solid black;
    border-collapse: collapse;
}

.tb3,
.tb3 td,
.tb3 th{
    border: 1px solid black;
    border-collapse: collapse;
}

.tb3 td,
.tb3 th{
    padding: 7px;
}

.tb4,
.tb4 td,
.tb4 th{
    border: 1px solid black;
    padding: 5px;
}

.tb4{
    border-spacing: 15px;
 
}
.result ul, .result li {
    list-style-type: unset;
    text-decoration: unset;
}


.links ul, .links li {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}



.table h1 {
    font-weight: bolder;
    font-size: 25pt;
}

.table tr h1,
.table tr h2, 
.table tr h3, 
.table tr h4, 
.table tr h5, 
.table tr h6 {
    font-weight: normal;
    font-style: normal;
}

.table table{
    border: 2px solid white !important;
}

.table table td{
    padding: 10px 20px;
    border: 1px solid white !important;
}


.tableB table, .tableB td{
    padding: 5px 0;
    border: none;
}



.links {
    background-color:darkslategray;
    padding: 10px 50px 30px 50px;
    margin-top: 80px;
    margin-bottom: -40px;
}


.links .title {
    vertical-align: top;
    width: 400px;
}


.links h1 {
    font-weight: lighter;
    margin-top: 15px;
    font-size: 35pt;
    line-height: 35pt;
}

.links h2 {
    font-weight: bolder;
    font-size: 25pt;
    margin: -10px -50px 10px -50px;
    padding: 30px 50px;

    background-color: slategray;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    line-height: 55px;
}

.links .current {
    font-weight: bolder;
    color:lightgreen;
    font-size: 25px;
    line-height: 55px;

}

.links a:hover {
    font-weight: bolder;
}


.about_table .about_img{
    width: 43%;
}

.about_table .about_txt{
    padding: 30px;
}


.social_media {
    padding-top: 20px;
}
.social_media .n {
    padding: 0 20px;
}

.social_media td img {
    margin: 8px 0 2px 0;
    width: 30px;
}
