
html {
    background-color:rgb(28, 32, 46);
    color: #ffffff;
    font-family:'Segoe UI';
    font-size: 14pt;
    margin: auto;
    max-width: 850px;
}
.container{
    margin: 30px;
}

.maintitle {
    font-weight: lighter;
    font-size: 60pt;
    line-height: 60pt;
    margin-top: -10px;
    margin-bottom: 60px;
}
.subtitle {
    font-weight: bold;
    font-size: 30pt;
}

.paragraph h1 {
    font-weight: bolder;
    font-size: 25pt;
}

.container h3 {
    font-weight: lighter;
    font-size: 35pt;
}

.container h4 {
    font-weight: bold;
    font-size: 30pt;
}
.paragraph p br {
    display: block; 
    content: "";
    margin-top: 10px; 
}
.paragraph {
    margin-bottom: 50px; 
}

.code {
    padding: 10px 20px;
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
.code br {
    display: block; 
    content: "";
    margin-top: 5px; 
}
.codein {
    padding: 2px 4px;
    background-color:dimgray;
    font-family: 'Courier New', Courier, monospace;
}

.result {
    margin: 15px 0;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.result ul, .result li {
    list-style-type: unset;
    text-decoration: unset;
}


.links ul, .links li {
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}



.table h1 {
    font-weight: bolder;
    font-size: 25pt;
}

.table tr h1,
.table tr h2, 
.table tr h3, 
.table tr h4, 
.table tr h5, 
.table tr h6 {
    font-weight: normal;
    font-style: normal;
}

.table table{
    border: 2px solid white !important;
}

.table table td{
    padding: 10px 20px;
    border: 1px solid white !important;
}


.tableB table, .tableB td{
    padding: 5px 0;
    border: none;
}



.links {
    background-color:darkslategray;
    padding: 10px 50px 30px 50px;
    margin-top: 80px;
    margin-bottom: -40px;
}


.links .title {
    vertical-align: top;
    width: 350px;
}


.links h1 {
    font-weight: lighter;
    margin-top: 15px;
    font-size: 35pt;
    line-height: 35pt;
}

.links h2 {
    font-weight: bolder;
    font-size: 25pt;
    margin: -10px -50px 10px -50px;
    padding: 30px 50px;

    background-color: slategray;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 55px;
}

.links a:hover {
    font-weight: bolder;
}